.center{text-align:center; }
.flex-container{
    display:flex; flex-direction: row;
    flex-wrap: wrap;
    padding:50px;
}
.flex-item-left {
    flex: 50%;
  }
  
  .flex-item-right {
    flex: 50%;
  }
.flex-container >div {padding:20px}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .flex-item-right, .flex-item-left {
        flex: 100%;
      }
      .flex-container >div {padding:50px}
  }